div
    h3 #{data.title}
    h4 #{data.header}
    hr(size='3px')
    ul(style='margin-left: 0; padding-left: 0; ')
        li(style='list-style-type: none;')
            p(style='font: bold italic 110% sans-serif; ')
                | Record ID:
            p(style='font: bold  110% serif; ')
                | #{data.recordID} 
        hr(width='50%', align='left') 
        li(style='list-style-type: none;')
            p(style='font: bold italic 110% sans-serif; ')
                | NAME:
            p(style='font: bold  110% serif; ')
                | #{data.fullName}
        hr(width='50%', align='left')
        li(style='list-style-type: none;') 
            p(style='font: bold italic 110% sans-serif; ')
                | Complete payment:
            p(style='font: bold  110% serif; ')
                | #{data.paymentComplete}
        hr(width='50%', align='left')
        li(style='list-style-type: none;')
            p(style='font: bold italic 110% sans-serif; ')
                | Date and time of last payment:
            p(style='font: bold  110% serif; ')
                | #{data.dateAndTimeOfLastPayment}
        hr(width='50%', align='left')