div
    h3 #{data.title}
    h4 #{data.header}
    hr(size='3px')
    ul(style='margin-left: 0; padding-left: 0; ')
        li(style='list-style-type: none;')
            p(style='font: bold italic 110% sans-serif; ')
                | Product:
            p(style='font: bold 110% serif; ')
                | #{data.product}    
        hr(width='50%', align='left')
        li(style='list-style-type: none;')
            p(style='font: bold italic 110% sans-serif; ')
                | Record ID:
            p(style='font: bold  110% serif; ')
                | #{data.recordID} 
        hr(width='50%', align='left') 
        li(style='list-style-type: none;')
            p(style='font: bold italic 110% sans-serif; ')
                | NAME:
            p(style='font: bold  110% serif; ')
                | #{data.fullName}
        hr(width='50%', align='left')
        li(style='list-style-type: none;') 
            p(style='font: bold italic 110% sans-serif; ')
                | Phone number:
            p(style='font: bold  110% serif; ')
                | #{data.phoneNumber}
        hr(width='50%', align='left')
        li(style='list-style-type: none;')
            p(style='font: bold italic 110% sans-serif; ')
                | Total amount:
            p(style='font: bold  110% serif; ')
                | #{data.totalAmount}
        hr(width='50%', align='left')
        li(style='list-style-type: none;')
            p(style='font: bold italic 110% sans-serif; ')
                | New payment:
            p(style='font: bold  110% serif; ')
                | #{data.newPayment}
        hr(width='50%', align='left')
        li(style='list-style-type: none;')
            p(style='font: bold italic 110% sans-serif; ')
                | Total paid:
            p(style='font: bold  110% serif; ')
                | #{data.totalPaid}
        hr(width='50%', align='left')
        li(style='list-style-type: none;')
            p(style='font: bold italic 110% sans-serif; ')
                | Amount to pay:
            p(style='font: bold  110% serif; ')
                | #{data.amountToPay}
        hr(width='50%', align='left')