div
    h3 #{data.title}
    h4 #{data.header}
    hr(size='3px')
    ul(style='margin-left: 0; padding-left: 0; ')
        li(style='list-style-type: none;')
            p(style='font: bold italic 110% sans-serif; ')
                | NAME:
            p(style='font: bold 110% serif; ')
                | #{data.name}    
        hr(width='50%', align='left')
        li(style='list-style-type: none;')
            p(style='font: bold italic 110% sans-serif; ')
                | USER ID:
            p(style='font: bold  110% serif; ')
                | #{data.userID} 
        hr(width='50%', align='left') 
        li(style='list-style-type: none;')
            p(style='font: bold italic 110% sans-serif; ')
                | PHONE NUMBER:
            p(style='font: bold  110% serif; ')
                | #{data.phoneNumber}
        hr(width='50%', align='left')
        li(style='list-style-type: none;') 
            p(style='font: bold italic 110% sans-serif; ')
                | PASSWORD:
            p(style='font: bold  110% serif; ')
                | #{data.password}
        hr(width='50%', align='left')
        li(style='list-style-type: none;')
            p(style='font: bold italic 110% sans-serif; ')
                | ROLE:
            p(style='font: bold  110% serif; ')
                | #{data.role}
        hr(width='50%', align='left')
        li(style='list-style-type: none;')
            p(style='font: bold italic 110% sans-serif; ')
                | PLACE OF WORK:
            p(style='font: bold  110% serif; ')
                | #{data.placeOfWork}
        hr(width='50%', align='left')