div
    h3 #{data.title}
    h4 #{data.header}
    hr(size='3px')
    ul(style='margin-left: 0; padding-left: 0; ')
        li(style='list-style-type: none;')
            p(style='font: bold italic 110% sans-serif; ')
                | PRODUCT:
            p(style='font: bold 110% serif; ')
                | #{data.product}    
        hr(width='50%', align='left')
        li(style='list-style-type: none;')
            p(style='font: bold italic 110% sans-serif; ')
                | RECORD ID:
            p(style='font: bold  110% serif; ')
                | #{data.recordID} 
        hr(width='50%', align='left') 
        li(style='list-style-type: none;')
            p(style='font: bold italic 110% sans-serif; ')
                | NAME:
            p(style='font: bold  110% serif; ')
                | #{data.name}
        hr(width='50%', align='left')
        li(style='list-style-type: none;') 
            p(style='font: bold italic 110% sans-serif; ')
                | AIRLINE:
            p(style='font: bold  110% serif; ')
                | #{data.airline}
        hr(width='50%', align='left')
        li(style='list-style-type: none;')
            p(style='font: bold italic 110% sans-serif; ')
                | DEPARTURE:
            p(style='font: bold  110% serif; ')
                | #{data.departure}
        hr(width='50%', align='left')
        li(style='list-style-type: none;')
            p(style='font: bold italic 110% sans-serif; ')
                | DESTINATION:
            p(style='font: bold  110% serif; ')
                | #{data.destination}
        hr(width='50%', align='left')
        li(style='list-style-type: none;')
            p(style='font: bold italic 110% sans-serif; ')
                | PHONE NUMBER:
            p(style='font: bold  110% serif; ')
                | #{data.phoneNumber}
        hr(width='50%', align='left')
        li(style='list-style-type: none;')
            p(style='font: bold italic 110% sans-serif; ')
                | TOTAL AMOUNT:
            p(style='font: bold  110% serif; ')
                | #{data.totalAmount}
        hr(width='50%', align='left')